<div class="container">
    <div class="row">
        <div class="col">
            דף מוצר נחמד {{pid}}
            <br/> שם המוצר הוא {{prod.pname}}
            <br/> המחיר הוא{{prod.price}}
        </div>
    </div>
</div>